.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.headerLoginButton {
    margin-left: 20px;
}

.selectedFanImage {
    width: 200px;
    margin-top: 20px;
}

.specsContainer {
    margin-top: 20px;
}
